In [1]:
import pandas as pd
import numpy as np

In [2]:
vc_pc_file_path="../../Data_files/raw_data/states_raw_data/CrimeData-2018.csv"
hate_crime_file_path = "../../Data_files/raw_data/states_raw_data/hate_crime_data.csv"
unemployment_file_path = "../../Data_files/raw_data/states_raw_data/unemployment_rate_bystate.csv"
voting_file_path = "../../Data_files/raw_data/states_raw_data/states_by_color.csv"
# Load the csv file into a dataframe, Set the 4th row as header
vs_pc_raw_df=pd.read_csv(vc_pc_file_path,header=3) 
hate_crime_df=pd.read_csv(hate_crime_file_path, header=2)
unemployment_df=pd.read_csv(unemployment_file_path)
voting_data = pd.read_csv(voting_file_path)

## Cleanup Process of Violent&Property Crime Dataframe

In [3]:
# View Violent and Property dataframe before cleanup
vs_pc_raw_df.head()

,State,Area,Unnamed: 2,Population,Violent crime1,Murder and \nnonnegligent \nmanslaughter,Rape2,Robbery,Aggravated \nassault,Property \ncrime,Burglary,Larceny-theft,Motor \nvehicle \ntheft,Unnamed: 13,Unnamed: 14
0,ALABAMA,Metropolitan Statistical Area,NaN,"3,709,622",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Area actually reporting,94.3%,"20,207",322,"1,530","3,608","14,747","108,373","22,178","75,625","10,570",NaN,NaN
2,NaN,NaN,Estimated total,100.0%,"20,570",324,"1,546","3,649","15,051","110,384","22,615","77,059","10,710",NaN,NaN
3,NaN,Cities outside metropolitan areas,NaN,"531,555",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Area actually reporting,93.1%,"3,477",40,242,312,"2,883","19,161","3,685","13,976","1,500",NaN,NaN

In [4]:
# Rename the column name
column_renamed_df=vs_pc_raw_df.rename(columns={"Unnamed: 2":"Type of data"}) 
# Create a list of column names to drop
to_drop=["Unnamed: 13","Unnamed: 14"] 
# Drop the columns
reduced_df=column_renamed_df.drop(to_drop, axis=1)
# Display the last 15 rows
reduced_df.tail(15)

,State,Area,Type of data,Population,Violent crime1,Murder and \nnonnegligent \nmanslaughter,Rape2,Robbery,Aggravated \nassault,Property \ncrime,Burglary,Larceny-theft,Motor \nvehicle \ntheft
501,NaN,Nonmetropolitan counties,NaN,"160,329",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,NaN,NaN,Area actually reporting,89.1%,220,3,38,3,176,958,174,708,76
503,NaN,NaN,Estimated total,100.0%,254,3,42,17,192,"1,086",178,794,114
504,NaN,State Total,NaN,"577,737","1,226",13,243,100,870,"10,313","1,525","7,949",839
505,NaN,NaN,"Rate per 100,000 inhabitants",NaN,212.2,2.3,42.1,17.3,150.6,"1,785.1",264.0,"1,375.9",145.2
506,1 The violent crime figures include the offen...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,3 Includes offenses reported by the Metro Tran...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,4 Limited data for 2018 were available for Iowa.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510,5 Agencies within this state submitted rape d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,NOTE: Although arson data are included in the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Drop the last 10 rows
reduced_df=reduced_df.iloc[:-10] 
# Replace NaN with the preceding values in State column
reduced_df["State"]=reduced_df["State"].fillna(method='ffill')

In [6]:
# Create a 'Crime Rate per 100,000 inhabitants' dataframe
vc_per_100k_df=reduced_df.loc[reduced_df["Type of data"]=="Rate per 100,000 inhabitants",\
                              ["State","Violent crime1","Property \ncrime"]].reset_index(drop=True)

In [7]:
# Rename column names
vc_per_100k_df=vc_per_100k_df.rename(columns={"Violent crime1":"Violent Crime per 100,000 inhabitants",\
                                              "Property \ncrime":"Property Crime per 100,000 inhabitants"})

vc_per_100k_df.head()

,State,"Violent Crime per 100,000 inhabitants","Property Crime per 100,000 inhabitants"
0,ALABAMA,519.6,"2,817.2"
1,ALASKA,885.0,"3,300.5"
2,ARIZONA,474.9,"2,676.8"
3,ARKANSAS,543.6,"2,913.0"
4,CALIFORNIA,447.4,"2,380.4"

In [8]:
# Create a population dataframe for 50 states
population_df=reduced_df.loc[reduced_df["Area"]=="State Total",["State","Population"]].reset_index(drop=True)

In [9]:
# Merge population and crime per 100k dataframe
combined_vc_pc_df=pd.merge(population_df,vc_per_100k_df,on="State")
# Rename the incorrect state names
combined_vc_pc_df["State"]=combined_vc_pc_df.replace({"DISTRICT OF COLUMBIA3":"DISTRICT OF COLUMBIA",\
                                          "IOWA4":"IOWA","NORTH CAROLINA5":"NORTH CAROLINA"})
combined_vc_pc_df.head()

,State,Population,"Violent Crime per 100,000 inhabitants","Property Crime per 100,000 inhabitants"
0,ALABAMA,"4,887,871",519.6,"2,817.2"
1,ALASKA,"737,438",885.0,"3,300.5"
2,ARIZONA,"7,171,646",474.9,"2,676.8"
3,ARKANSAS,"3,013,825",543.6,"2,913.0"
4,CALIFORNIA,"39,557,045",447.4,"2,380.4"

In [10]:
# Loop through each row in the dataframe to start name change per row
for index,row in combined_vc_pc_df.iterrows():
    state=str(row["State"])
    # Split the state name, for each word uppercase the first letter, and lowercase the rest
    state_name = [word[0].upper() + word[1:].lower() for word in state.split()]
    s = " ".join(state_name)
    combined_vc_pc_df.loc[index,"State"]=str(s)

combined_vc_pc_df.head()

,State,Population,"Violent Crime per 100,000 inhabitants","Property Crime per 100,000 inhabitants"
0,Alabama,"4,887,871",519.6,"2,817.2"
1,Alaska,"737,438",885.0,"3,300.5"
2,Arizona,"7,171,646",474.9,"2,676.8"
3,Arkansas,"3,013,825",543.6,"2,913.0"
4,California,"39,557,045",447.4,"2,380.4"

## Cleanup Process of Hate Crime Dataframe

In [11]:
# view hate crime info to start clean up process for final merge
hate_crime_df.head()

,Participating state/Federal,Number of\nparticipating\nagencies,Population\ncovered,Agencies\nsubmitting\nincident\nreports,Total\nnumber of\nincidents\nreported
0,Total,"16,039","306,874,326","2,026","7,120"
1,Alabama,98,"1,865,517",0,0
2,Alaska,32,"733,747",4,7
3,Arizona,102,"7,135,285",19,166
4,Arkansas,286,"2,874,960",9,13

In [12]:
# Select necessary columns
hate_crime_reduced_df=hate_crime_df.drop(['Number of\nparticipating\nagencies','Agencies\nsubmitting\nincident\nreports'], axis=1)
# Drop the last 4 unnecessary rows
hate_crime_reduced_df = hate_crime_reduced_df.drop([0,52,53,54,55])
# Rename the columns and add a column
hate_crime_renamed_df=hate_crime_reduced_df.rename(columns={"Participating state/Federal":"State",\
                                                            "Total\nnumber of\nincidents\nreported":"Hate Crime Reported",\
                                                            "Population\ncovered":"Population covered in hate crime reporting"})
hate_crime_renamed_df["Hate Crime per 100,000 inhabitants"]=""
hate_crime_renamed_df.head()

,State,Population covered in hate crime reporting,Hate Crime Reported,"Hate Crime per 100,000 inhabitants"
1,Alabama,"1,865,517",0,
2,Alaska,"733,747",7,
3,Arizona,"7,135,285",166,
4,Arkansas,"2,874,960",13,
5,California,"39,520,441","1,063",

In [13]:
# Loop through each row in dataframe
for index,row in hate_crime_renamed_df.iterrows():
    # Remove ',' from the number, and convert it to integer
    total_hate_crime=int(row["Hate Crime Reported"].replace(",", ""))
    # Remove ',' from the number, and convert it to integer
    population_covered=int(row["Population covered in hate crime reporting"].replace(",", ""))
    # Calculate th hate crime per 100,000
    hate_crime_per_100k=round(total_hate_crime/(population_covered/100000),3)
    # Assign the values to new column
    hate_crime_renamed_df.loc[index,"Hate Crime per 100,000 inhabitants"]=hate_crime_per_100k


hate_crime_renamed_df.head()

,State,Population covered in hate crime reporting,Hate Crime Reported,"Hate Crime per 100,000 inhabitants"
1,Alabama,"1,865,517",0,0
2,Alaska,"733,747",7,0.954
3,Arizona,"7,135,285",166,2.326
4,Arkansas,"2,874,960",13,0.452
5,California,"39,520,441","1,063",2.69

In [14]:
# remove uneccesary columns and only keep final needed column for final crime merge
hate_crime_final_df=hate_crime_renamed_df[["State","Hate Crime per 100,000 inhabitants"]]
hate_crime_final_df.head()

        State Hate Crime per 100,000 inhabitants
1     Alabama                                  0
2      Alaska                              0.954
3     Arizona                              2.326
4    Arkansas                              0.452
5  California                               2.69

## Process of Merging Crime Dataframes

In [15]:
# Merge violent crime data and hate crime data into one dataframe (crime_data_df)
crime_data_df=pd.merge(combined_vc_pc_df,hate_crime_final_df, on="State")
crime_data_df.head()

,State,Population,"Violent Crime per 100,000 inhabitants","Property Crime per 100,000 inhabitants","Hate Crime per 100,000 inhabitants"
0,Alabama,"4,887,871",519.6,"2,817.2",0
1,Alaska,"737,438",885.0,"3,300.5",0.954
2,Arizona,"7,171,646",474.9,"2,676.8",2.326
3,Arkansas,"3,013,825",543.6,"2,913.0",0.452
4,California,"39,557,045",447.4,"2,380.4",2.69

## Cleanup Process of Unemployment Dataframe

In [16]:
# view unemployment to prep for merge
unemployment_df.head()

           State  2018  Rank
0            NaN  rate   NaN
1  United States   3.9   NaN
2            NaN   NaN   NaN
3        Alabama   3.9  27.0
4         Alaska   6.5   5.0

In [17]:
# Drop unnecessary rows and column (to re-rank once rows are dropped)
unemployment_reduced = unemployment_df.drop([0,1,2,11])
#unemployment_reduced.head()

In [18]:
# add a row and rank once more
unemployment_reduced["Rank"] = unemployment_reduced["2018"].rank(axis=0, method="max", ascending=False, pct=False).astype(int)
#unemployment_reduced.head()

In [19]:
# Rename columns for cohesiveness upon table merge
unemployment_final_df = unemployment_reduced.rename(columns={"2018":"Unemployment (UE) Rate", 
                                                             "Rank": "UE Rank among States"})

unemployment_final_df.head()

        State Unemployment (UE) Rate  UE Rank among States
3     Alabama                    3.9                    24
4      Alaska                    6.5                     1
5     Arizona                    4.7                     6
6    Arkansas                    3.6                    29
7  California                    4.3                    12

## Process of Merging Crime Dataframe and Unemployment Dataframe

In [20]:
# merge final unemployment table with crime data 
crime_unemp_merge = pd.merge(crime_data_df, unemployment_final_df, on="State")

#crime_unemp_merge.head()

In [21]:
voting_data.head()

           State  pvi governorParty  senateParty houseBalance       Pop
0         Hawaii  -18    Democratic   Democratic           2D   1412687
1        Vermont  -15    Republican  Democratic*           1D    628061
2     California  -12    Democratic   Democratic      46D, 7R  39937489
3       Maryland  -12    Republican   Democratic       7D, 1R   6083116
4  Massachusetts  -12    Republican   Democratic           9D   6976597

## Cleanup Process of Voting Dataframe

In [22]:
# add a column to separate state by party color voting trend
voting_data["Affiliated Party Color"]= ""
# voting_data.head()

In [23]:
# set condition to assign each row for new column
voting_data.loc[voting_data["pvi"]>3,"Affiliated Party Color"] = "Red"
# separate by color for merge- purple
voting_data.loc[(voting_data["pvi"] >= -1) & (voting_data["pvi"] <= 3),"Affiliated Party Color"] = "Purple"
# blue state
voting_data.loc[voting_data["pvi"]<-1,"Affiliated Party Color"] = "Blue"

#voting_data.head()

In [24]:
# drop unnecessary columns for merge
state_color = voting_data.drop(["pvi", "governorParty","senateParty","houseBalance","Pop"], axis=1)

state_color.head()

           State Affiliated Party Color
0         Hawaii                   Blue
1        Vermont                   Blue
2     California                   Blue
3       Maryland                   Blue
4  Massachusetts                   Blue

## Process of Merging all the Dataframes

In [25]:
# merge state colors with final table
full_merge = pd.merge(crime_unemp_merge, state_color, on="State")

In [26]:
# create new column and set state abbreviations

Crime_Analysis = full_merge.sort_values("State")
abbvs = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']
Crime_Analysis['State Abbrev.'] = abbvs
Crime_Analysis.head()

,State,Population,"Violent Crime per 100,000 inhabitants","Property Crime per 100,000 inhabitants","Hate Crime per 100,000 inhabitants",Unemployment (UE) Rate,UE Rank among States,Affiliated Party Color,State Abbrev.
0,Alabama,"4,887,871",519.6,"2,817.2",0,3.9,24,Red,AL
1,Alaska,"737,438",885.0,"3,300.5",0.954,6.5,1,Red,AK
2,Arizona,"7,171,646",474.9,"2,676.8",2.326,4.7,6,Red,AZ
3,Arkansas,"3,013,825",543.6,"2,913.0",0.452,3.6,29,Red,AR
4,California,"39,557,045",447.4,"2,380.4",2.69,4.3,12,Blue,CA

In [27]:
# re-organize columns for easy read and efficiency
Crime_Data_Analysis = Crime_Analysis[["State", "State Abbrev.", "Affiliated Party Color", "Population", "Violent Crime per 100,000 inhabitants",
                                     "Property Crime per 100,000 inhabitants", "Hate Crime per 100,000 inhabitants",
                                     "Unemployment (UE) Rate", "UE Rank among States"]]

In [28]:
# Remove "," from the population dataset
Crime_Data_Analysis["Population"]=Crime_Data_Analysis["Population"].str.replace(',','')

In [29]:
# Remove "," from the property crime dataset
Crime_Data_Analysis["Property Crime per 100,000 inhabitants"]=Crime_Data_Analysis["Property Crime per 100,000 inhabitants"].str.replace(',','')

In [30]:
# Convert propert crime and population datatype to float
Crime_Data_Analysis[["Property Crime per 100,000 inhabitants","Population"]]=Crime_Data_Analysis[["Property Crime per 100,000 inhabitants","Population"]].astype(float)

In [31]:
# save final combined df to final data folder
Crime_Data_Analysis.to_csv("../../Data_files/clean_data/states_clean_data/Crime_Data_Analysis(combined_info).csv", index=False)
Crime_Data_Analysis.head()

,State,State Abbrev.,Affiliated Party Color,Population,"Violent Crime per 100,000 inhabitants","Property Crime per 100,000 inhabitants","Hate Crime per 100,000 inhabitants",Unemployment (UE) Rate,UE Rank among States
0,Alabama,AL,Red,4887871.0,519.6,2817.2,0,3.9,24
1,Alaska,AK,Red,737438.0,885.0,3300.5,0.954,6.5,1
2,Arizona,AZ,Red,7171646.0,474.9,2676.8,2.326,4.7,6
3,Arkansas,AR,Red,3013825.0,543.6,2913.0,0.452,3.6,29
4,California,CA,Blue,39557045.0,447.4,2380.4,2.69,4.3,12